/*
*	This is the base styling layer of our application.
*	Here should be written general styling for HTML elements and very straightforward classes
*
*	You should:
*		- name your classes according to the context (e.g. submit-button)
*		- add variable with certain attribute value to variables.less and then call it here
*	You shouldn't:
*		- add complex classes with nested selectors, consider 'modules.less' instead
*		- directly specify any property value, without checking variables.less first (it might already be there).
*/

html, body {
  height: 100%;
}

ul,ol,li {
  padding: 0;
  list-style: none;
}

