
// Footer

.footer {
  min-height: 380px;
  background-color: @footer-bg;
  color: #fff;    
  .footer-info {
    padding: 35px 0 30px 0;
    border-top: solid @red 4px;
    font-size: 13px;
    text-align: center;
  }
}

.footer-menu, .footer-list {
  padding: 20px 0 45px 0;
  font-size: @font-size-h3;
  line-height: @font-size-base;
  ul {
    padding: 20px 0 0 15px;
    li {
      padding: 0 0 15px 0;
      list-style: disc;
      color: @violet-lighter;
      font-size: @font-size-base;
      a {
        color: @violet-lighter;
        font-size: @font-size-base;
      }    
    }
  }
}

.footer-list {
  ul {
    padding: 20px 0 0 0;
    li {
      list-style: none;
    }
  }
}

.footer-form {
  padding: 20px 0 45px 0;
  h3 {
    padding-bottom: 20px;
  }
  a {
    margin: 0 0 0 10px;
    color: #fff;
    font-size: @font-size-base;
    text-decoration: underline;
  }
  .btn {
    margin-bottom: 0;
    span {
      float: left;
      width: 14px;
      height: 14px;
      background-image: url(../img/sprites/key-ico.png);
    }
  }
}
