
// Forms

.page-search-form {
  .form-group {
    padding-bottom: 0;
  }
  .show-map-link {
    color: @violet;  
  }
  .reset-filtre-link {
    margin: 7px 0 0 0;
  }
  h4 {
    margin-bottom: 15px;
    color: @blue-medium;
  } 
  label {
    padding-bottom: 5px;
    font-weight: normal;
  } 
  select {
    margin-bottom: 10px;
  }
  button {
    padding: 6px 25px;
  }
  textarea {
    height: 130px;
  }
  a {
    border-bottom: dotted @violet 1px;
    color: @violet;
    &:hover {
      text-decoration: none;
      border-bottom: none;
    }
  }
}

.admin-edit-form {
  i {
    display: block;
    font-size: @font-size-small;
  }
  span {
    font-size: @font-size-small;
    font-size: @gray-light;
  }
  label {
    padding-top: 5px;
    font-weight: normal;
    span {
      padding-left: 5px;
      color: @red;
      font-size: @font-size-base;
    }
  }
  textarea {
    height: 200px;
  }
  .checkbox {
    margin-top: 0;
  }
  .form-group {
    margin-bottom: 25px;
  }
  .photo-block {
    margin-bottom: 20px;
    img {
      .img-circle();
      width: 80px;
      height: 80px;
      margin-right: 20px;
    }
  }
  .delete-photo {
    .clearfix();
    float: left;
    margin: -20px 0 0 120px;
    white-space: nowrap;
    span {
      float: right;
      margin: 3px 0 0 5px;
      font-size: @font-size-base;
    }
  }
  .special-edit-group {
    label {
      float: left;
      span {
        color: @red;
        font-size: @font-size-base;
      }
    }
    input {
      float: left;
      width: 50px;
      margin: 0 10px;
    }
    i {
      clear: both;
      display: block;
    }
  }
}
