
// Header

.main-header {
  padding-top: 30px;
  height: 480px;
  background-color: @header-bg;
  background-image: url(../img/main-header-bg.png);
  background-position: 50% 100%;
  background-repeat: no-repeat;  
  
  .main-logo {
    float: left;
    width: 310px;
    height: 90px;
    background-image: url(../img/main-logo.png);
  }

  .header-city-select {
    float: left;
    margin: 40px 0 0 30px;
    a {
      color: @red;
      border-bottom: dotted @red 1px;
      &:hover {
        border-bottom: none;
        text-decoration: none;
      }
    }
  }

  .header-info {
    margin: 40px 0 15px 0;
    font-size: @font-size-medium;
    color: @blue-medium;
  }

  .header-nav {
    li {
      float: right;
      margin: 0 0 0 20px;
      a {
        color: @red;
        text-decoration: underline;
        &:hover {
          color: @blue-medium;
          text-decoration: none;
        }
        &.active {
          color: @blue-medium;
          text-decoration: none;
        }
      }
    }
  }

  .header-search {
    margin-top: 55px;
    font-size: @font-size-h2;
    color: @blue-dark;
    .input-search {
      width: 270px;
      height: 48px;
      margin: 0 35px 0 35px;
    }
    .btn-search {
      padding: 8px 15px;
    }
    .header-block-select {
      margin: 0 0 0 35px;
      color: @blue-dark;
      border-bottom: dotted @blue-dark 2px;
      &:hover {
        border-bottom: none;
        text-decoration: none;
      }
    }
  }
}


// Inner pages

.pages-header {
  padding-top: 20px;
  height: 192px;
  background-size: 976px 114px; 

  .main-logo {
    width: 230px;
    height: 67px;
    background-size: 230px 67px; 
  }

  .header-city-select {
    margin: 30px 0 0 25px;
  }

  .header-info {
    position: absolute;
    width: 370px;
    left: 50%;
    margin: 12px 0 0 -140px;
    font-size: @font-size-medium;
    color: @blue-medium;
    
    span {
      .rounded(10px);
      display: inline-block;
      margin: 0 15px;
      padding: 5px 15px;
      background-color: #fff;
      border: solid @blue 2px;
      font-size: @font-size-h3;
      &:before {
        content: ' ';
        position: absolute;
        width: 1px;
        height: 22px;
        margin: 0 0 0 0;
        bottom: -22px;
        border-left: solid @blue 2px;
      }
      &:after {
        content: ' ';
        position: absolute;
        width: 1px;
        height: 29px;
        bottom: -29px;
        border-left: solid @blue 2px;
      }
    }
  }

  .header-nav {
    float: right;
    li {
      margin: 30px 0 0 20px;
    }
  }
}

.admin-header {
  .admin-header-info {
    margin: 20px 0 0 0;
    color: @blue-medium;
    .name {
      margin: 0 25px 0 0;
    }
  }
  .header-nav {
    li {
      margin: 10px 0 0 20px;
    }
    a {
      color: @violet !important;
    }
    span {
      float: right;
      padding: 3px 0 0 10px;
      color: @violet;
    }
  }
}

