/*
*	This is the top styling layer of our application.
*	Here should be written all cosmetic changes within every page.
*
*	You should:
*		- name your wrappers appropriately "{{page's-name}}-wrap" (e.g. category-page-wrap)
*		- all styling for any given page should be nested within your top level selector (page wrapper)
*		- add variable with certain attribute value to variables.less and then call it here
*	You shouldn't:
*		- add here any selector, which parent isn't 'body' tag (consider base.less or modules.less stylesheets instead)
*		- directly specify any property value, without checking variables.less first (it might already be there).
*
*/

.pages-content {
  margin-bottom: 100px;
}

.product-title {
  margin-bottom: 10px;
  color: @blue-medium;
  span {
    color: @gray-light;
    font-size: @font-size-base;
    font-weight: normal;
  }
}

.product-sort {
  margin-top: 10px;
  a {
    border-bottom: dotted @violet 1px;
    color: @violet;
    text-decoration: none; 
    &:hover { 
      border-bottom: none; 
    }
  }
}

.product-img {
  display: block;
  margin: 20px 0 0 0;
  img {
    .img-circle();
    width: 224px;
    height: 224px;
    border: solid #fff 2px;
    &:hover {
      border: solid @violet 2px;
    }
  }
}

.product-vote-container {
  margin: 25px 0 20px 0;
  .total-vote {
    color: @violet;
    text-decoration: underline;
    &:hover { 
      text-decoration: none;
    }
  }
  .vote-list {
    a {
      font-size: 19px;
    }
  }
  .vote-list2 {
    a {
      font-size: 15px;
      &.active {
        color: @red !important;
      }
    }
  }
}

.complaint-link {
  color: @violet;
  text-decoration: underline;
  &:hover { 
    text-decoration: none;
  }
  span {
    margin: 0 5px 0 0;
    color: @red;
    font-size: 16px;
  }
}

.product-info {
  margin-bottom: 20px;
  h2 {
    padding-right: 20px;
    color: @violet-medium;
  }
  a {
    border-bottom: dotted @violet 1px;
    color: @violet;
    text-decoration: none; 
    &:hover { 
      border-bottom: none; 
    }
  }
}

.product-info-list {
  margin: 0 0 0 -25px;
  li {
    float: left;
    margin: 0 0 0 25px;
    .a-color {
      color: @violet-lightest;
    }
  }
  a {
    border-bottom: none;
    color: @violet;
    text-decoration: underline; 
    &:hover { 
      text-decoration: none; 
    }
  }
}

.product-container {
  padding: 0 0 20px 0;
  border-bottom: solid @blue 1px;
  .product-img {
    img {
      width: 144px;
      height: 144px;
    }
  }
}

.search-result-link {
  float: right;
  margin: 10px 0 15px 0;
  color: @violet;
  text-decoration: underline;
}

.product-contact-block {
  width: 230px;
  margin: 20px 0 20px 0;
  .map-block {
    width: 224px;
    height: 224px;
    margin-bottom: 20px;
  }  
  dd {
    margin-bottom: 10px;
  }
  a {
    color: @violet;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.soc-list {
  li {
    float: left;
    margin: 0 5px 0 0;
  }
}

.current-product {
  text-align: center;
  .product-vote-container {
    padding: 0 35px;
  }
}

.tab-pane {
  padding: 10px 0 40px 0;
}

.price-list {
  margin: 0 0 20px 0;
  h4 {
    color: @blue-medium;
  }
  li {
    position: relative;
    &:after {
      content: ' ';
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 1px;
      top: 50%;
      left: 0;
      border-bottom: solid @blue 1px;
    }
  }
  span, i {
    z-index: 2;
    position: relative;
    background-color: #fff;
  }
  span {
    padding-right: 15px;
  }
  i {
    float: right;
    padding-left: 15px;
    font-style: normal;
  }
}

.product-master-block {
  padding: 0 0 20px 0;
  border-bottom: solid @gray 1px;
  &:last-child {
    border: none;
  }
}

.product-master-avatar {
  padding-top: 20px;
  text-align: center;
  .product-img {
    margin: 0 0 20px 0;
    img {
      width: 144px;
      height: 144px;
    }
  }
  .complaint-link {
    .rounded(@border-radius-base);
    display: block;
    padding: 7px 0;
    border: solid @red 1px;
    color: @red;
    text-decoration: none;
  }
}

.product-master-info {
  h3 {
    padding-right: 20px;
    color: @violet-medium;
  }
  a {
    color: @violet;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.work-list {
  .clearfix();
  li {
    float: left;
  }
  .product-img {
    margin: 0 15px 10px 0;
    img {
      width: 64px;
      height: 64px;
    }
  }
}

.master-photo-list {
  margin: 20px 0 0 0;
  text-align: center;
  a {
    display: block;
  }
  img {
    .rounded(@border-radius-base);
    max-width: 100%;
    margin: 0 0 20px 0;
    border: solid #fff 2px;
    &:hover {
      border: solid @red 2px;
    }
  }
}

.product-testimonials {
  margin: 10px 0 20px 0;
  h4 {
    margin: 0 20px 0 0;
    padding: 0;
    color: @blue-medium;
  }
}

.testimonials-block {
  .rounded(10px);
  .clearfix();
  position: relative;
  margin: 0 0 30px 0;
  padding: 10px 15px;
  background-color: @red-lighter;
  &:after {
    position: absolute;
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    left: 50px;
    bottom: -25px;
    border-width: 25px 25px 0 0px;
    border-color: @red-lighter transparent transparent transparent;
  }
}

.testimonials-green {
  .testimonials-block {
    background-color: @green-light;  
    &:after {
      border-color: @green-light transparent transparent transparent;  
    }
  }
}

.testimonials-gray {
  .testimonials-block {
    background-color: @gray-lighter;  
    &:after {
      border-color: @gray-lighter transparent transparent transparent;  
    }
  }
}

.admin-container {
  padding: 25px 0 0 0;
}

.application-container {
  h4 {
    margin: 0 0 20px 0;
    color: @blue-medium;
  }
}

.application-block {
  .rounded(10px);
  .clearfix();
  margin: 0 0 15px 0;
  h5 {
    margin: 0 0 0 0;
    padding: 0 0 5px 0;
  }
  padding: 15px;
  border: solid @red 2px;
}

.application-message {
   h5 {
    color: @red;
   }
   a {
    border-bottom: dotted @red 1px;
    color: @red;
    text-decoration: none; 
    &.pull-left {
      color: @violet;
      border-bottom: dotted @violet 1px;
    }
    &:hover { 
      border-bottom: none; 
    }
   }
}

.user-img {
  margin: 20px 0 20px 0;
  text-align: center;
  img {
    width: 210px;
    height: 210px;
  }
}
 
.decorate-hor-separator {
  padding-bottom: 10px;
  border-bottom: solid @gray-lighter 1px;
}
.admin-callendar {
  margin-top: 10px;
  h4 {
    margin-bottom: 20px;
    color: @blue-medium;
  }
}

.callendar-list {
  margin-bottom: 30px;
  .clearfix();
  li {
    float: left;
  }
  span {
    display: block;
    color: @gray-light;
    font-size: @font-size-small;
  }
  .day {
    float: left;
    width: 23px;
    height: 14px;
    background-color: @gray-lighter;
    border: solid @gray-light 1px;
  }
  .available {
    background-color: @green-light;
    border: solid @green 1px;  
  }
  .not-available {
    background-color: @red-light;
    border: solid @red 1px;   
  }
  .occupation {
    background-color: @blue;
    border: solid @blue-medium 1px;     
  }
}

.admin-price-container {
  margin-top: 20px;
  b {
    font-size: font-size-medium;
  }
}

.prise-list {
  margin-bottom: 40px;
  li {
    padding-bottom: 10px;
    &:nth-child(2n-1) {
       padding-top: 5px;
    }
    &:first-child {
       padding-top: 0;
    }
    &:nth-child(2) {
      padding-right: 15px;
      text-align: right;
    }
    input {
      text-align: right;
    }
  }
}

.edit-container {
  margin-top: 20px;  
}

.admin-photo-info {
  margin-top: 10px;
  p {
    font-size: @font-size-small;
  }
  h4 {
    color: @blue-medium;
  }
}

.admin-photo-list {
  .clearfix();
  margin-top: 20px;
  > li {
    float: left;
    margin: 0 20px 20px 0;
    > a {
      .img-circle();
      position: relative;
      display: block;
      width: 80px;
      height: 80px;
      margin: 0 auto;
      border: none;
      &:hover {
        .edit-ico {
          visibility: visible;
        }
        &:after {
          .img-circle();
          content: ' ';
          position: absolute;
          width: 80px;
          height: 80px;
          top: 0;
          left: 0;        
          background-color: rgba(0,0,0,0.7);
        }
      }
    }
    > .add-photo {
      background-color: @gray-lighter;
      .glyphicon {
        visibility: visible;
        top: 27px;
        left: 27px;
        font-size: 28px;
        color: @gray;
      }
    }
  }
  .edit-ico {
    visibility: hidden;
    z-index: 99;
    top: 32px;
    left: 13px;
    position: absolute;
    font-size: @font-size-large;
    color: @gray-lighter;
    &:nth-child(2n) {
      left: 48px;
    }
    &:hover {
      color: @red;
    }
  }
  img {
    .img-circle();
    width: 80px;
    height: 80px;
    border: solid #fff 2px;
  }
  .photo-info {
    text-align: center;
    font-size: @font-size-small;
  }
}

