/*
*	This is the top styling layer of our application.
*	Here should be written all cosmetic changes within every page.
*
*	You should:
*		- name your wrappers appropriately "{{page's-name}}-wrap" (e.g. category-page-wrap)
*		- all styling for any given page should be nested within your top level selector (page wrapper)
*		- add variable with certain attribute value to variables.less and then call it here
*	You shouldn't:
*		- add here any selector, which parent isn't 'body' tag (consider base.less or modules.less stylesheets instead)
*		- directly specify any property value, without checking variables.less first (it might already be there).
*
*/


// Main page

.main-content, .pages-content {
    min-height: 300px;
}

.main-title {
  height: 40px;
  margin-bottom: 60px;
  border-bottom: solid @red 2px;
  text-align: center;
  h2 {
    display: inline-block;
    padding: 0 40px;
    background-color: #fff;
    color: @blue-medium;
  }
}

.main-menu-item {
  display: block;
  margin: 56px auto 10px;
  &:hover {
    text-decoration: none;
  }
  .illustration {
    .img-circle();
    display: block;
    width: 156px;
    height: 156px;
    margin: 0 auto;
    background-color: #80ccff;
  }
  .title {
    display: block;
    height: 50px;
    margin: -20px 0 0 0;
    padding: 5px 0 0 0;
    background-image: url(../img/violet-ribbon.png);
    background-position: 50% 0;
    background-repeat: no-repeat;  
    text-align: center;
    font-size: @font-size-h3;
    color: #fff;
  }
  .il1 {
    background-image: url(../img/sprites/il1.png);
    background-position: 50% 100%;
    background-repeat: no-repeat; 
    &:hover {
      background-image: url(../img/sprites/il1-hover.png);
    } 
  }
  .il2 {
    background-image: url(../img/sprites/il2.png);
    background-position: 50% 100%;
    background-repeat: no-repeat; 
    &:hover {
      background-image: url(../img/sprites/il2-hover.png);
    } 
  }
  .il3 {
    background-image: url(../img/sprites/il3.png);
    background-position: 50% 100%;
    background-repeat: no-repeat; 
    &:hover {
      background-image: url(../img/sprites/il3-hover.png);
    } 
  }
  .il4 {
    background-image: url(../img/sprites/il4.png);
    background-position: 50% 100%;
    background-repeat: no-repeat; 
    &:hover {
      background-image: url(../img/sprites/il4-hover.png);
    } 
  }
}

.main-menu-list {
  margin: 0 0 45px 0;
  text-align: center;
  a {
    color: @violet-medium;
    &:hover {
      color: @red;
    }
  }
}

.main-img-adv {
  margin-bottom: 40px; 
  text-align: center;
  a {
    display: block;
    img {
      .img-rounded();
      min-width: 100%;
      border: solid #fff 2px;
      &:hover {
        border: solid @red 2px;
      }
    }
  }
  h4 {
    color: @violet-light;
  }
}

.top-list-container {
  margin: 0 0 50px 27px;
  h3 {
    .top-list-decoration(@violet-medium, @violet-medium);
    margin-bottom: 0;
    padding: 0 0 35px 55px;
    border-left: solid @violet-medium 1px;
    &:before {
      background-image: url(../img/sprites/chear-ico.png);
      background-position: 50% 50%;
      background-repeat: no-repeat; 
      text-indent: -9999px;
    }
    span {
      display: block;
      margin-bottom: 10px;
      color: @violet-medium;
      font-size: 44px;
      text-transform: uppercase;
    }
  }
}

.top-list {
  counter-reset: item;
  .item {
    .top-list-decoration(@violet-medium, #ffffff);
    padding: 0 0 25px 55px;
    border-left: solid @violet-medium 1px;
    &:last-child {
      border-left: solid #fff 0px;
    }
    dt {
      margin: 0 0 5px 0;
      color: @red;
      font-size: @font-size-large;
    }
    dd {
      color: @blue-dark; 
      line-height: @font-size-large;
    }
  }
}

.top-list-container2 {
  h3 {
    .top-list-decoration(@blue, @blue);
    border-left: solid @blue 1px;
    &:before {
      background-image: url(../img/sprites/scissors-ico.png);
      background-position: 50% 50%;
      background-repeat: no-repeat; 
      text-indent: -9999px;
    }
    span {
      color: @blue;
    }
  }
  .item {
    .top-list-decoration(@blue, #ffffff); 
    border-left: solid @blue 1px;
  }
}

.main-testimonials-container {
  margin: 0 0 50px 0;
  .quotes {
    position: relative;
    margin: 0 0 0 10px;
    padding: 30px 45px 10px 45px;
    color: @blue-dark;
    &:before {
      content: '“';
      position: absolute;
      top: 0;
      left: 5px;
      color: @blue;
      font-size: 78px;
    }
    a {
      color: @violet-medium;
      text-decoration: underline;
    }
  }
  .vote-list {
    margin-left: 55px;
  }
}

.main-testimonials-block {
  .rounded(15px);
  position: relative;
  min-height: 130px;
  padding: 20px 35px 20px 20px;
  background-color: lighten(@red, 35%);
  border: solid @red 2px;
  &:before, &:after{
    position: absolute;
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
  }
  &:before {
    left: 80px;
    bottom: -27px;
    border-width: 25px 25px 0 0px;
    border-color: @red transparent transparent transparent;
  }
  &:after {
    left: 83px;
    bottom: -20px;
    border-width: 20px 20px 0 0px;
    border-color: lighten(@red, 35%) transparent transparent transparent;
  }
}

.main-testimonials-block2 {
  background-color: lighten(@green, 35%);
  border: solid @green 2px;
  &:before {
    border-color: @green transparent transparent transparent;
  }
  &:after {
    border-color: lighten(@green, 35%) transparent transparent transparent;
  }
}
