.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
}

.rounded(@radius: 0) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.top-list-decoration(@color, @colorbg) {
  &:before { 
    position: absolute;
    width: 54px;
    height: 54px;
    left: 10px;
    .rounded(150px);
    background-color: @colorbg;
    border: solid @color 3px;
    content: counter(item) ''; 
    counter-increment: item;
    color: @color;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
  }
}