/*
    This is the second styling layer of our application
    Here should be written complete self-standing modules, that are injected on certain pages
    You should:
        - add only complete seld-standing modules, that make sense on their own
        - name your modules according to their functionality (e.g. login-form, comment-block)
        - use nesting (every module should have only one top level parent - wrapper)
        - add variable with certain attribute value to variables.less and then call it here
    You shouldn't:
        - add custom styling, that should be applied only on certain pages (consider 'pages.less' instead)
        - directly specify any property value, without checking variables.less first (it might already be there)
*/

.wrap {
  height: 100%;
}

.btn {
  margin-bottom: 10px;
  span {
    margin: 0 5px 0 0;
  }
}

.btn-origin, .btn-origin-2 {
  margin-bottom: 50px;
  text-align: center;
  a {
    .rounded(30px);
    display: inline-block;
    padding: 5px 30px;
    background-color: @red;
    color: #fff;
    font-size: @font-size-large;
    &:hover {
      text-decoration: none;
    }
  }
  span {
    font-size: @font-size-small;
  }
}

.btn-origin-2 {
  a {
    background-color: #fff;
    border: solid @red 2px;
    color: @red;
  }
  span {
    float: right;
    padding: 15px 0 0 10px;
    font-size: @font-size-h1; 
    line-height: @font-size-base;
  }
}

.vote-list, .vote-list-chair, .vote-list-scissors {
  .clearfix();
  li {
    float: left;
  }
  a {
    float: left;
    width: 18px;
    height: 19px;
    margin: 0 2px 0 0;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    border: none !important;
    color: @gray-light !important;
    &:hover, &.active {
      color: @blue !important;
      text-decoration: none;
    }
  }
}
.vote-list-chair {
  a {
    margin: 0 10px 0 0;
    background-image: url(../img/sprites/chear-gray-ico.png);
    &:hover, &.active {
     background-image: url(../img/sprites/chear-blue-ico.png);
    }
  }
}
.vote-list-scissors {
  a {
    margin: 0 10px 0 0;
    background-image: url(../img/sprites/scissors-gray-ico.png);
    &:hover, &.active {
     background-image: url(../img/sprites/scissors-blue-ico.png); 
    }
  }
}


.breadcrumb {
  float: left;
  padding: 10px 0 15px 0;
  margin-bottom: 0;
  background-color: transparent;
  border-radius: 0;
  > li {
    display: inline-block;
    + li:before {
      content:'\003E'; // Unicode space added since inline-block means non-collapsing white-space
      position: relative;
      top: -2px;
      padding: 0 10px;
      color: @breadcrumb-color;
      font-size: 13px;
      font-weight: bold;
    }
  }
  a {
    color: @breadcrumb-color;
    text-decoration: underline;
  }
  > .active {
    color: @breadcrumb-color;
  }
}

.pagination-container {
  text-align: center;
  .pagination {
    > li {
      display: inline-block;
      > a {
        .rounded(5px);
        margin: 3px;
        border: solid @gray 1px;
        color: @gray;
        &:hover {
          background-color: @blue-light;
        }
      }
      &:first-child, &:last-child{
        a {
          color: @gray-light;
        }
      }
    }
    > .active > a {
      background-color: @blue-light;
      border: solid @blue-medium 1px;
      color: @blue-medium;
    }
  }
}

.nav-tabs {
  border-bottom: 2px solid @nav-tabs-border-color;
  text-align: center;
  > li {
    display: inline-block;
    float: none;
    margin: 0;
    margin-left: -6px;
    margin-bottom: -2px;
    &:first-child {
      a {
        .border-radius(0, 0, 0, @border-radius-base);
      }
    }
    &:last-child {
      a {
        .border-radius(@border-radius-base, 0, 0, 0);
      }
    }
    > a {
      .rounded(0);
      // margin-right: 0px;
      border: solid @blue 2px !important;
      // border-right: solid @blue 2px;
      // border-left: solid @blue 2px;
      color: @blue-medium;
      line-height: @line-height-base;
      &:hover {
        color: @violet;
      }
    }
    &.active > a {
      &,
      &:hover,
      &:focus {
        border: 2px solid @nav-tabs-active-link-hover-border-color;
      }
    }
  }
  span {
    margin: 3px 0 0 10px;
    float: right;
    color: @red;
  }
}

.admin-tab {
  padding-top: 10px;
  .nav-tabs {
    > li { 
      float: left;
      margin-top: 10px;
      margin-left: -2px;
      > a {
        background-color: @blue-lightest;
      }
      &:nth-child(4n) {
        a {
          .border-radius(@border-radius-base, 0, 0, 0);
        }
      }
      &:nth-child(5n) {
        clear: left;
        a {
          .border-radius(0, 0, 0, @border-radius-base);
        }
      }
      &.active > a {
        &,
        &:hover,
        &:focus {
          background-color: @blue;
          border: 2px solid @nav-tabs-active-link-hover-border-color;
        }
      }
    }
  }
}

.list-group {
  margin: 20px 0 25px 0;
}

.list-group-item {
  .rounded(10px) !important;
  margin: 0 0 10px 0;
  padding: 10px 5px;
  border: solid @blue 2px;
  font-size: 18px;
  text-align: center;
  &.disabled {
    border: solid @gray-light 2px;
  }
}

.tooltip-arrow {
  display: none;
}

.tooltip-inner {
  border: solid @red 1px;
}
