
.modal-header {
  background-color: @red-light;
  .border-radius(6px, 0, 0, 6px);
  h4 {
    text-align: center;
    color: #fff;
  }
  .close {
    opacity: 1;
    color: #fff;
  }
}

.modal-body {
  label {
    font-weight: normal;
  }  
  .btn {
    min-width: 150px;
  }
}

.complaint-modal {
  .modal-body {
    padding: 15px 55px;
  }
  texarea {
    height: 130px;
  }
}

.add-modal {
  .btn {
    margin-top: 25px;
  }
  .col-md-6 {
    margin-right: -1px;
    border-left: solid @gray-lighter 1px;
    border-right: solid @gray-lighter 1px;
  }
  text-align: center;
}

.popover {
  left: 10% !important;
  .arrow {
    display: none;
  }
}

.popover-map-content {
  width: 715px;
  height: 465px;
}

.map-content {
  position: relative;
  float: left;
  width: 325px;
  height: 385px;
  margin: 45px 0 0 75px;
  background-image: url(../img/sprites/map-bg.jpg);
  background-position: 0% 0;
  background-repeat: no-repeat;  
  .map-dis1 {
    position: absolute;
    width: 140px;
    height: 130px;
    top: 49px;
    left: 0;
    background-image: url(../img/sprites/map-dis1.png);
    background-position: 0% 0;
    background-repeat: no-repeat;  
  }
  .map-dis2 {
    position: absolute;
    width: 70px;
    height: 130px;
    top: 23px;
    left: 110px;
    background-image: url(../img/sprites/map-dis2.png);
    background-position: 0% 0;
    background-repeat: no-repeat;  
  }
  .map-dis3 {
    position: absolute;
    width: 115px;
    height: 115px;
    top: 1px;
    left: 143px;
    background-image: url(../img/sprites/map-dis3.png);
    background-position: 0% 0;
    background-repeat: no-repeat;  
  }
  .map-dis4 {
    position: absolute;
    width: 70px;
    height: 40px;
    top: 138px;
    left: 91px;
    background-image: url(../img/sprites/map-dis4.png);
    background-position: 0% 0;
    background-repeat: no-repeat;  
  }
  .map-dis5 {
    position: absolute;
    width: 90px;
    height: 140px;
    top: 150px;
    left: 24px;
    background-image: url(../img/sprites/map-dis5.png);
    background-position: 0% 0;
    background-repeat: no-repeat;  
  }
  .map-dis6 {
    position: absolute;
    width: 120px;
    height: 215px;
    left: 76px;
    bottom: 6px;
    background-image: url(../img/sprites/map-dis6.png);
    background-position: 0% 0;
    background-repeat: no-repeat;  
  }
  .map-dis7 {
    position: absolute;
    width: 195px;
    height: 347px;
    right: 0;
    bottom: 1px;
    background-image: url(../img/sprites/map-dis7.png);
    background-position: 0% 0;
    background-repeat: no-repeat;  
  }
}

.map-select {
  border: solid red 1px;
  option {
    background-color: red;
    border-bottom: solid red 10px;
  }
  span {
    background-color: yellow;
  }
}